body{
    font-family: 'Poppins', sans-serif;

}

div{
    /* width: 50%; */
    /* height: 100%; */
    /* background-color: #ccc; */
    /* overflow: hidden; */
    width: 250px;
    height: 250px;
    margin: 30px auto;
    /* border-width: 5px;
    border-style: solid;
    border-color: #dc143c; */
    /* border: 10px solid #dc143c; */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px 5px #ccc;
    border-radius: 10px;
    background-image: url(../images/pexels-miguel-á-padriñán-19670.jpg);
    background-size: cover;
    background-position: 50%;
    background-color: #fff;
    background-attachment: fixed;


}

